<!doctype html>
<html lang="en">
	<body>
		<!-- Part number -->
		<p>
			{{ meta['part_number'] }}
		</p>

		<!-- General description -->
		<p>
			{{ meta['description'] }}
		</p>

		<!-- Breadcrumbs -->
		<p>
			{{ meta['breadcrumbs'] | safe }}
		</p>

		<!-- Included parts -->
		<p>
			{{ meta['includes'] }}
		</p>
		
		<!-- Part image -->
		<!-- Image is also downloaded in output/images -->
		<img src="{{ meta['image'] }}"/>

		<!-- Tech specs -->
		{% for row, header in techspecs %}
			<!-- The * character represents the same header as previous -->
			{% if header != '*' %}
				{{ header }}
			{% endif %}
			{{ row }}
		{% endfor %}

		<!-- Options -->
		{% if options %}
		    {% for key, value in options.items() %}
				<strong>Options Category: {{ key }}</strong>
		      	{% for option in value %}
			    <ul>
			      <li>Option title: {{ option[0] }}</li>
			      <li>Option description: {{ option[1] }}</li>
			      <li>Option part number:{{ option[2] }}</li> 
		      	</ul>
		      	{% endfor %}
		    {% endfor %}
	    {% endif %}
	</body>
</html>